
{% extends "base.html" %}  
{% load static %}






{% block Page_Title  %}
<h1>Login</h1>
{% endblock Page_Title %}  






{% block Contents_Page %} 

<!-- http://127.0.0.1:8000/accounts/login/ -->
<!-- Required Form + Data Validation -->
{% include "includes/login_validation_form.html" %} 

{# Assumes you setup the password_reset view in your URLconf #}
<p>Have You Lost The Password?<a href="#">Lost password?</a></p>
<p>Create New Accounts <a href="#">Signup</a></p>   

{% endblock Contents_Page %} 
