<h1> Password_change_Done</h1>

    {% extends "base.html" %}  
    {% load static %}
    
    
    
    
    
    
    {% block Page_Title  %}
    <h1>Password Change Done</h1>
    {% endblock Page_Title %}  
    
    
    
    
    
    
    {% block Contents_Page %} 
    
    <!-- <h4> Logged out successfully .</h4> -->
    <h4> Your Password Has Been Successfully Changed</h4>
    <!-- <p>Your Password Has Been successfull Changed</p> -->
    
    <a  href="{% url 'My_Login_URL' %}" role="button" style="float:lieft" class="btn btn-success">Re-Login</a><!-- الدخول إلى الموقع -->
    <a  href="{% url 'IndexHomeTemplateView-URL' %}" role="button" style="float:lieft" class="btn btn-success">Go To Home Page</a><!-- الدخول إلى الموقع -->
    
    {% endblock Contents_Page %} 
