

{% extends "base.html" %}  
{% load static %}






{% block Page_Title  %}
<h1>List of Profile</h1>
{% endblock Page_Title %}  






{% block messages_Contents  %}

<!-- ظهور رسالة للمستخدم -->
{% if messages %} <!-- جملة شرطية للتحقق من وجود رسالة قبل عرضها-->
        {% for message in messages %} <!-- جملة تكرار للمرور على جميع  محتويات الرسالة لعرضها كلها -->
                <!--success: هي التي تقوم بتحديد لون الرسالة اخضر -->
                <!--warning: هي التي تقوم بتحديد لون الرسالة احمر -->
                <div  class="alert alert-success">
                        {{ message }} <!-- المتغير الذي يحمل نص الرسالة-->
                </div>
        {% endfor %}
{% endif %}

{% endblock messages_Contents %}  






{% block Contents_Page %} 






<div>
<a  href="{% url 'My_Signup_URL' %}" role="button" style="float:right" class="btn btn-success">Add New</a><!-- إضافة سجل جديد -->
<br>
</div>
<br>

<table class="table table-bordered">
<tr>
<td>ID User</td>
<td>User Name</td>
<td>First Name</td>
<td>Last Name</td>
<td>Email Address</td>
<td>Active Status</td>
<td>Staff Status</td>
<td>superuser_status</td>
<td>Date Joined</td>
<td>Last Login</td>
<td>Actions</td>

</tr>
{%  if object_list %}  <!--conditional Statement to Check For Data -->
<!--
Loop To Pass through All The Data to Be displayed
-->
{% for object_list_item in object_list %} 

<tr>
<!-- <td><img src="{{ object_list_item.ASS_AssociationLogo.url}}" alt="" width="150" height="90"></td>
<td><a href="{{ object_list_item.get_absolute_url }}">{{ object_list_item.ASS_NameAssociation }}</a> ({{object_list_item.ASS_Phone}})</td> This Link Is From The Database and usls.py File -->
<td>{{ object_list_item.id }}</td>
<td>{{ object_list_item.username }}</td>
<td>{{ object_list_item.first_name }}</td>
<td>{{ object_list_item.last_name }}</td>
<td>{{ object_list_item.email }}</td>
<td>{{ object_list_item.is_active }}</td>
<td>{{ object_list_item.is_staff }}</td>
<td>{{ object_list_item.is_superuser }}</td>
<td>{{ object_list_item.date_joined }}</td>
<td>{{ object_list_item.last_login }}</td>

<td>
<a href="{% url 'my_profile_update_URL'   object_list_item.id %}" class="btn btn-primary">Update</a><!-- Update Record   -->
<a href="{% url 'my_Profile_delete_URL'   object_list_item.id %}" class="btn btn-danger">Delete</a><!--  Delete Record  -->
<a href="{% url 'My_Profile_Detail_ID_URL' object_list_item.id %}" class="btn btn-warning">Detail</a><!-- Detail Record  -->

</td>
</tr>
{% endfor %}
{% else %}
    <h4>There are No Data.</h4>
  {% endif %} 
</table>

{% endblock Contents_Page %} 