
{% extends "base.html" %}  
{% load static %}






{% block Page_Title  %}
<h1> Password Reset Form</h1>
{% endblock Page_Title %}  






{% block Contents_Page %} 

<!-- http://127.0.0.1:8000/accounts/password_reset/ -->

<form action="" method="post">
    {% csrf_token %}
    {% if form.email.errors %}
    {{ form.email.errors }}
    {% endif %}
        <p>{{ form.email }}</p>
    <input type="submit" class="btn btn-default btn-lg" value="Reset password">
    </form>
    
    
    
{% comment %}
{% include "includes/form.html" %} <!--  Required Form + Data Validation -->
{% endcomment %}

{% endblock Contents_Page %} 
 