
{% extends "base.html" %}  
{% load static %}






{% block Page_Title  %}
<h1>Password Change Form</h1>
{% endblock Page_Title %}  






{% block Contents_Page %} 

<form action="" method="post">
    {% csrf_token %}
    {% if form.email.errors %}
    {{ form.email.errors }}
    {% endif %}
        <p>{{ form.email }}</p>
    <input type="submit" class="btn btn-default btn-lg" value="Reset password">
    </form>
    
<!-- <p>We've emailed you instructions for setting your password. If they haven't arrived in a few minutes, check your spam folder.</p>
<p>We've emailed you instructions for setting your password. You should receive the email shortly!</p> -->

{% endblock Contents_Page %} 
