
{% extends "base.html" %}  
{% load static %}






{% block Page_Title  %}
<h1>Password_reset_complete</h1>
{% endblock Page_Title %}  






{% block Contents_Page %} 

{% block content %}
<h1>The password has been changed!</h1>
<p><a href="{% url 'login' %}">log in again?</a></p>












{% comment %}
<!-- http://127.0.0.1:8000/accounts/login/ -->

{% include "includes/form.html" %} <!--  Required Form + Data Validation -->

<h1>Password reset complete</h1>
<p>Your new password has been set. You can log in now on the <a href="{% url 'login' %}">log in page</a>.</p>
{% endcomment %}

{% endblock Contents_Page %} 
